<a href="https://colab.research.google.com/github/philsaurabh/Tutorials/blob/main/Principal_Component_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing Libraries

In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split

In [16]:
# To read data as dataframe
df = pd.read_csv('https://raw.githubusercontent.com/philsaurabh/Tutorials/main/Credit.csv')
df.head()

   Unnamed: 0   Income  Limit  Rating  ...  Married  Ethnicity  Balance Defaultee
0           1   14.891   3606     283  ...      Yes  Caucasian      333         0
1           2  106.025   6645     483  ...      Yes      Asian      903         0
2           3  104.593   7075     514  ...       No      Asian      580         0
3           4  148.924   9504     681  ...       No      Asian      964         0
4           5   55.882   4897     357  ...      Yes  Caucasian      331         0

[5 rows x 13 columns]

In [17]:
encoder = LabelEncoder()
# Now apply the transformation to all the columns:
for col in df.columns:
    df[col] = encoder.fit_transform(df[col])
X = df.iloc[:,1:11].values
y = df.iloc[:,0].values

In [18]:
#df_drop=df.drop(labels=['Defaultee','Gender','Student','Ethnicity','Married'],axis=1)
#df_drop.head()

In [19]:
# separating features of our dataframe from the labels
#X = df_drop.iloc[:,1:8].values
#y = df_drop.iloc[:,0].values
#X

# Data Standardisation

In [20]:
from sklearn.preprocessing import StandardScaler
X_std = StandardScaler().fit_transform(X)

In [21]:
# Covarience Matrix
mean_vec = np.mean(X_std, axis=0)
cov_mat = (X_std - mean_vec).T.dot((X_std - mean_vec)) / (X_std.shape[0]-1)
print('Covariance matrix \n%s' %cov_mat)

Covariance matrix
[[ 1.00250627e+00  6.59281466e-01  6.65995134e-01 -5.34879171e-02
   1.53519296e-01 -5.05294735e-02 -4.91877885e-03  9.93611723e-03
   1.22186793e-02  7.84097656e-04]
 [ 6.59281466e-01  1.00250627e+00  9.96657423e-01  5.75079030e-03
   7.11756896e-02 -4.31641687e-02 -2.48251539e-02  9.55686519e-03
   3.36320498e-02  6.67863972e-03]
 [ 6.65995134e-01  9.96657423e-01  1.00250627e+00  5.00585817e-02
   7.99531512e-02 -4.73295382e-02 -1.81252260e-02  8.45409420e-03
   3.75228249e-02  1.25446838e-03]
 [-5.34879171e-02  5.75079030e-03  5.00585817e-02  1.00250627e+00
   4.26220061e-02 -5.12122481e-02  2.27148083e-02 -2.62297010e-02
  -9.71935840e-03 -3.87643815e-03]
 [ 1.53519296e-01  7.11756896e-02  7.99531512e-02  4.26220061e-02
   1.00250627e+00  2.37582077e-03 -5.11817858e-03 -2.99739947e-02
  -7.45498279e-02 -3.30426939e-02]
 [-5.05294735e-02 -4.31641687e-02 -4.73295382e-02 -5.12122481e-02
   2.37582077e-03  1.00250627e+00  5.06172580e-03  7.22660649e-02
   4.90331695e-02 -3.01302172e-02]
 [-4.91877885e-03 -2.48251539e-02 -1.81252260e-02  2.27148083e-02
  -5.11817858e-03  5.06172580e-03  1.00250627e+00 -5.51716476e-02
  -1.24829179e-02 -1.51779092e-03]
 [ 9.93611723e-03  9.55686519e-03  8.45409420e-03 -2.62297010e-02
  -2.99739947e-02  7.22660649e-02 -5.51716476e-02  1.00250627e+00
  -7.71666174e-02 -3.03372197e-02]
 [ 1.22186793e-02  3.36320498e-02  3.75228249e-02 -9.71935840e-03
  -7.45498279e-02  4.90331695e-02 -1.24829179e-02 -7.71666174e-02
   1.00250627e+00  6.07143699e-02]
 [ 7.84097656e-04  6.67863972e-03  1.25446838e-03 -3.87643815e-03
  -3.30426939e-02 -3.01302172e-02 -1.51779092e-03 -3.03372197e-02
   6.07143699e-02  1.00250627e+00]]

In [22]:
# Eigen decomposition of the covariance matrix
eig_vals, eig_vecs = np.linalg.eig(cov_mat)

print('Eigenvectors \n%s' %eig_vecs)
print('\nEigenvalues \n%s' %eig_vals)

Eigenvectors
[[-5.14207013e-01 -1.18539137e-02 -8.46882130e-01 -3.92492052e-02
   3.70772851e-02 -1.30951692e-02  3.95633202e-02 -1.92955336e-02
  -4.63812802e-02 -1.05194033e-01]
 [-5.99395833e-01 -7.02065709e-01  3.61787219e-01  7.97693153e-02
  -2.28270564e-02 -5.42690934e-02 -4.56371559e-03  2.38823727e-02
  -3.28233268e-02  7.37595159e-02]
 [-6.01288565e-01  7.11249898e-01  3.38394834e-01  7.42687918e-02
  -2.58444976e-02 -2.85385825e-02 -1.79992236e-03  1.93483725e-02
  -1.22456818e-02  1.02658574e-01]
 [-7.77518002e-03 -3.19767459e-02 -1.24021429e-01  1.01206618e-01
  -8.97029620e-02  4.93158272e-01 -9.37289138e-02 -1.41663971e-01
   4.44237375e-01  7.04159500e-01]
 [-1.06020140e-01 -3.93481933e-03  1.42005106e-01 -3.65769633e-01
   2.90587716e-01  4.22327177e-01  2.05858441e-01 -3.22644650e-01
   4.29476150e-01 -4.90981544e-01]
 [ 4.99277123e-02  1.51200313e-03 -3.17105447e-02  4.44834182e-01
   2.14432036e-01 -4.77887911e-01  5.59194561e-01 -2.89852960e-01
   3.45243566e-01  9.14196896e-02]
 [ 1.86334525e-02 -3.98593722e-03  2.61101613e-02 -2.14179642e-01
  -1.67335904e-01  2.67299321e-01  6.56592780e-01 -2.28600517e-01
  -5.65372799e-01  2.24974086e-01]
 [-5.04641669e-03 -6.61983528e-04  1.12878118e-02 -5.17635992e-01
   5.39743378e-01 -3.56809472e-01 -2.36968257e-01 -3.01348319e-01
  -1.31779487e-01  3.85918578e-01]
 [-2.43649576e-02 -3.95111388e-03 -4.39760527e-03 -5.65113880e-01
  -5.64685995e-01 -3.67336110e-01  1.91632702e-01  1.76249049e-01
   3.89829704e-01  8.03591471e-02]
 [-2.83233621e-03  3.81968419e-03  2.96387624e-03  1.07234382e-01
  -4.69864693e-01 -1.11485450e-01 -3.32502913e-01 -7.85090589e-01
  -8.15615534e-02 -1.47274737e-01]]

Eigenvalues
[2.58640265 0.00471724 0.41935814 0.82163208 1.14355889 1.12592909
 1.01893291 0.95117198 0.97874642 0.97461326]

In [23]:
# Selecting Principal Components
# Make a list of (eigenvalue, eigenvector) tuples
eig_pairs = [(np.abs(eig_vals[i]), eig_vecs[:,i]) for i in range(len(eig_vals))]

# Sort the (eigenvalue, eigenvector) tuples from high to low
eig_pairs.sort(key=lambda x: x[0], reverse=True)

# Visually confirm that the list is correctly sorted by decreasing eigenvalues
print('Eigenvalues in descending order:')
for i in eig_pairs:
    print(i[0])

Eigenvalues in descending order:
2.586402646134885
1.143558886450789
1.1259290850674644
1.0189329075797073
0.9787464186797148
0.974613264240275
0.9511719799323014
0.821632084801829
0.4193581394465199
0.004717244308122973

In [24]:
tot = sum(eig_vals)
var_exp = [(i / tot)*100 for i in sorted(eig_vals, reverse=True)]

In [25]:
# Projection Matrix
matrix_w = np.hstack((eig_pairs[0][1].reshape(10,1), 
                      eig_pairs[1][1].reshape(10,1)
                    ))
print('Matrix W:\n', matrix_w)

Matrix W:
 [[-0.51420701  0.03707729]
 [-0.59939583 -0.02282706]
 [-0.60128857 -0.0258445 ]
 [-0.00777518 -0.08970296]
 [-0.10602014  0.29058772]
 [ 0.04992771  0.21443204]
 [ 0.01863345 -0.1673359 ]
 [-0.00504642  0.53974338]
 [-0.02436496 -0.564686  ]
 [-0.00283234 -0.46986469]]

# Projection Onto the New Feature Space 
In this last step we will use the 7×2-dimensional projection matrix W to transform our samples onto the new subspace via the equation Y=X×W

In [26]:
Y = X_std.dot(matrix_w)
Y.shape

(400, 2)