<a href="https://colab.research.google.com/github/philsaurabh/Tutorials/blob/main/Testing_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Scipy
SciPy stands for Scientific Python.

It provides more utility functions for optimization, stats and signal processing.

# statmodels

statsmodels is a Python module that provides classes and functions for the estimation of many different statistical models, as well as for conducting statistical tests, and statistical data exploration.

# Importing Libraries

In [1]:
import pandas as pd
import scipy.stats as st
import statsmodels.api as sm
from statsmodels.formula.api import ols

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [20]:
# To read data as dataframe
df = pd.read_csv('https://raw.githubusercontent.com/philsaurabh/Tutorials/main/Advertising.csv')
df.head()

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

# Percent Point Function
To find the median of a distribution, we can use the percent point function ppf, which is the inverse of the cdf

Normal Curve, Mean=0, Std=1.
We are Providing Shared area to get critical value(Reverse for cdf)

In [3]:
st.norm.ppf(.95)
#st.norm.ppf([.95,0.05])

1.6448536269514722

In [4]:
a=st.norm.ppf(.975)
b=st.norm.ppf(.025)
two_sided=a-b
two_sided

3.9199279690801085

# Cumulative Distribution Function

In [2]:
st.norm.cdf(1.64)
#st.norm.cdf([1.,0,-1.])# For more than one point
#st.norm.cdf(df['TV'])

0.9494974165258963

# Critical value for z

```
z-critical = stats.norm.ppf(1 - alpha) (use alpha = alpha/2 for two-sided)
t-critical = stats.t.ppf(alpha/numOfTails, ddof)
```

In [5]:
# alpha to critical
alpha = 0.05
n_sided = 2 # 2-sided test
z_crit = st.norm.ppf(1-alpha/n_sided)
print('Z critical value: ',z_crit)

Z critical value:  1.959963984540054

In [6]:
# critical to alpha
alpha = st.norm.sf(z_crit) * n_sided
print('alpha: ',alpha)

alpha:  0.05

Each z-score tells us how many standard deviations away an individual value is from the mean.

In [15]:
df.apply(st.zscore)
#st.zscore(df['TV'])

     Unnamed: 0        TV     radio  newspaper     sales
0     -1.723412  0.969852  0.981522   1.778945  1.552053
1     -1.706091 -1.197376  1.082808   0.669579 -0.696046
2     -1.688771 -1.516155  1.528463   1.783549 -0.907406
3     -1.671450  0.052050  1.217855   1.286405  0.860330
4     -1.654129  0.394182 -0.841614   1.281802 -0.215683
..          ...       ...       ...        ...       ...
195    1.654129 -1.270941 -1.321031  -0.771217 -1.234053
196    1.671450 -0.617035 -1.240003  -1.033598 -0.830548
197    1.688771  0.349810 -0.942899  -1.111852 -0.234898
198    1.706091  1.594565  1.265121   1.640850  2.205347
199    1.723412  0.993206 -0.990165  -1.005979 -0.119610

[200 rows x 5 columns]

# T- stats

In [26]:
#n=999, p<0.05, 2-tail
#p/2=0.025
print(st.t.ppf(1-0.025, 999))

#n=999, p<0.05%, Single tail
print(st.t.ppf(1-0.05, 999)-st.t.ppf(1-0.025, 999))

1.9623414611334487
-0.3159611157059137

# One-Way Anova
Null Hypothesis: Means of the samples are following same distribution or not.

In [ ]:
a= df['TV']
b= df['radio']
c= df['newspaper']
F,p=st.f_oneway(a,b,c)

In [ ]:
F

358.8514595342597

In [ ]:
p

4.552931539744962e-103

# Additional

# Two- Way ANOVA

In [ ]:
df_melt = pd.melt(df.reset_index(), id_vars=['index'], value_vars=['TV', 'radio', 'newspaper', 'sales'])
# replace column names
df_melt.columns = ['index', 'treatments', 'value']
# Ordinary Least Squares (OLS) model
model = ols('value ~ C(treatments)', data=df_melt).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

                     sum_sq     df           F         PR(>F)
C(treatments)  2.349842e+06    3.0  387.144309  5.150514e-155
Residual       1.610489e+06  796.0         NaN            NaN

# T Test (Two sided dependent)

In [24]:
# To read data as dataframe
data = pd.read_csv('https://raw.githubusercontent.com/philsaurabh/Tutorials/main/Credit.csv')
data.head()

   Unnamed: 0   Income  Limit  Rating  ...  Married  Ethnicity  Balance Defaultee
0           1   14.891   3606     283  ...      Yes  Caucasian      333         0
1           2  106.025   6645     483  ...      Yes      Asian      903         0
2           3  104.593   7075     514  ...       No      Asian      580         0
3           4  148.924   9504     681  ...       No      Asian      964         0
4           5   55.882   4897     357  ...      Yes  Caucasian      331         0

[5 rows x 13 columns]

In [25]:
from scipy.stats import ttest_ind

male = data[data['Gender']=='Male']
female = data[data['Gender']=='Female']

ttest_ind(male['Defaultee'], female['Defaultee'])

Ttest_indResult(statistic=0.06754766913026408, pvalue=0.9461796342145767)

In [ ]:
# Another Example
# n = 9, degree of freedom = 9-1 = 8
# for 99% confidence interval, alpha = 1% = 0.01 and alpha/2 = 0.005
ci = 99
n = 9
t = st.t.ppf(1- ((100-ci)/2/100), n-1) # 99% CI, t8,0.005
print(t)

2.580764586385345