<a href="https://colab.research.google.com/github/philsaurabh/Tutorials/blob/main/Testing_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Scipy
SciPy stands for Scientific Python.

It provides more utility functions for optimization, stats and signal processing.

# statmodels

statsmodels is a Python module that provides classes and functions for the estimation of many different statistical models, as well as for conducting statistical tests, and statistical data exploration.

# Importing Libraries

In [11]:
import pandas as pd
import scipy.stats as st
import statsmodels.api as sm
from statsmodels.formula.api import ols

# Cumulative Distribution Function

In [4]:
st.norm.cdf(1.64)
#st.norm.cdf([1.,0,-1.])# For more than one point

array([0.84134475, 0.5       , 0.15865525])

# Percent Point Function
To find the median of a distribution, we can use the percent point function ppf, which is the inverse of the cdf

In [6]:
st.norm.ppf(.95)
#st.norm.ppf([.95,0.05])

1.6448536269514722

In [7]:
a=st.norm.ppf(.975)
b=st.norm.ppf(.025)
two_sided=a-b
two_sided

3.9199279690801085

# Critical value for z

```
z-critical = stats.norm.ppf(1 - alpha) (use alpha = alpha/2 for two-sided)
t-critical = stats.t.ppf(alpha/numOfTails, ddof)
```

In [8]:
# alpha to critical
alpha = 0.05
n_sided = 2 # 2-sided test
z_crit = st.norm.ppf(1-alpha/n_sided)
print('Z critical value: ',z_crit)

Z critical value:  1.959963984540054

In [9]:
# critical to alpha
alpha = st.norm.sf(z_crit) * n_sided
print('alpha: ',alpha)

alpha:  0.05

# T- stats
for small samples (<50) we use t-statistics

In [10]:
#n=999, p<0.05, 2-tail
#(0.05,999)
print(st.t.ppf(1-0.025, 999))

#n=999, p<0.05%, Single tail
print(st.t.ppf(1-0.05, 999)-st.t.ppf(1-0.025, 999))

1.9623414611334487
-0.3159611157059137

In [16]:
# Another Example
# n = 9, degree of freedom = 9-1 = 8
# for 99% confidence interval, alpha = 1% = 0.01 and alpha/2 = 0.005
ci = 99
n = 999
t = st.t.ppf(1- ((100-ci)/2/100), n-1) # 99% CI, t8,0.005
print(t)

2.580764586385345

# One-Way Anova

In [2]:
# To read data as dataframe
df = pd.read_csv('https://raw.githubusercontent.com/philsaurabh/Tutorials/main/Advertising.csv')
df.head()

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [12]:
a= df['TV']
b= df['radio']
c= df['newspaper']
F,p=st.f_oneway(a,b,c)

In [13]:
F

358.8514595342597

In [14]:
p

4.552931539744962e-103

# Two- Way ANOVA

In [15]:
df_melt = pd.melt(df.reset_index(), id_vars=['index'], value_vars=['TV', 'radio', 'newspaper', 'sales'])
# replace column names
df_melt.columns = ['index', 'treatments', 'value']
# Ordinary Least Squares (OLS) model
model = ols('value ~ C(treatments)', data=df_melt).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

                     sum_sq     df           F         PR(>F)
C(treatments)  2.349842e+06    3.0  387.144309  5.150514e-155
Residual       1.610489e+06  796.0         NaN            NaN