<a href="https://colab.research.google.com/github/philsaurabh/Tutorials/blob/main/Testing_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing Libraries

In [1]:
import pandas as pd
import scipy.stats as st

# Dataframe
A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

In [2]:
# To read data as dataframe
df = pd.read_csv('https://raw.githubusercontent.com/philsaurabh/Tutorials/main/Advertising.csv')
df.head()

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [3]:
st.norm.ppf(.95)

1.6448536269514722

In [4]:
st.norm.cdf(1.64)

0.9494974165258963

In [5]:
a=st.norm.ppf(.975)
b=st.norm.ppf(.025)
two_tailed=a-b
two_tailed

3.9199279690801085

```
z-critical = stats.norm.ppf(1 - alpha) (use alpha = alpha/2 for two-sided)
t-critical = stats.t.ppf(alpha/numOfTails, ddof)
```

In [6]:
# alpha to critical
alpha = 0.05
n_sided = 2 # 2-sided test
z_crit = st.norm.ppf(1-alpha/n_sided)
print('Z critical value: ',z_crit)

Z critical value:  1.959963984540054

In [7]:
# critical to alpha
alpha = st.norm.sf(z_crit) * n_sided
print('alpha: ',alpha)

alpha:  0.05

In [8]:
#Studnt, n=999, p<0.05, 2-tail
#equivalent to Excel TINV(0.05,999)
print(st.t.ppf(1-0.025, 999))

#Studnt, n=999, p<0.05%, Single tail
#equivalent to Excel TINV(2*0.05,999)
print(st.t.ppf(1-0.05, 999)-st.t.ppf(1-0.025, 999))

1.9623414611334487
-0.3159611157059137

In [9]:
# for small samples (<50) we use t-statistics
# n = 9, degree of freedom = 9-1 = 8
# for 99% confidence interval, alpha = 1% = 0.01 and alpha/2 = 0.005
ci = 99
n = 999
t = st.t.ppf(1- ((100-ci)/2/100), n-1) # 99% CI, t8,0.005
print(t)

2.580764586385345

In [10]:
a= df['TV']
b= df['radio']
c= df['newspaper']
F,p=st.f_oneway(a,b,c)

In [11]:
F

358.8514595342597

In [12]:
p

4.552931539744962e-103

In [13]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [21]:
df_melt = pd.melt(df.reset_index(), id_vars=['index'], value_vars=['TV', 'radio', 'newspaper', 'sales'])
# replace column names
df_melt.columns = ['index', 'treatments', 'value']
# Ordinary Least Squares (OLS) model
model = ols('value ~ C(treatments)', data=df_melt).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

                     sum_sq     df           F         PR(>F)
C(treatments)  2.349842e+06    3.0  387.144309  5.150514e-155
Residual       1.610489e+06  796.0         NaN            NaN