<a href="https://colab.research.google.com/github/philsaurabh/Tutorials/blob/main/Testing_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Scipy
SciPy stands for Scientific Python.

It provides more utility functions for optimization, stats and signal processing.

# statmodels

statsmodels is a Python module that provides classes and functions for the estimation of many different statistical models, as well as for conducting statistical tests, and statistical data exploration.

# Importing Libraries

In [ ]:
import pandas as pd
import scipy.stats as st
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [ ]:
# To read data as dataframe
df = pd.read_csv('https://raw.githubusercontent.com/philsaurabh/Tutorials/main/Advertising.csv')
df.head()

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

# Percent Point Function
To find the median of a distribution, we can use the percent point function ppf, which is the inverse of the cdf

Normal Curve, Mean=0, Std=1.
We are Providing Shared area to get critical value(Reverse for cdf)

In [ ]:
st.norm.ppf(.95)
#st.norm.ppf([.95,0.05])

1.6448536269514722

In [ ]:
a=st.norm.ppf(.975)
b=st.norm.ppf(.025)
two_sided=a-b
two_sided

3.9199279690801085

# Cumulative Distribution Function

In [ ]:
st.norm.cdf(1.64)
#st.norm.cdf([1.,0,-1.])# For more than one point
#st.norm.cdf(df['TV'])

0.9494974165258963

# Critical value for z

```
z-critical = stats.norm.ppf(1 - alpha) (use alpha = alpha/2 for two-sided)
t-critical = stats.t.ppf(alpha/numOfTails, ddof)
```

In [ ]:
# alpha to critical
alpha = 0.05
n_sided = 2 # 2-sided test
z_crit = st.norm.ppf(1-alpha/n_sided)
print('Z critical value: ',z_crit)

Z critical value:  1.959963984540054

In [ ]:
# critical to alpha
alpha = st.norm.sf(z_crit) * n_sided
print('alpha: ',alpha)

alpha:  0.05

Each z-score tells us how many standard deviations away an individual value is from the mean.

In [ ]:
df.apply(st.zscore)
#st.zscore(df['TV'])

     Unnamed: 0        TV     radio  newspaper     sales
0     -1.723412  0.969852  0.981522   1.778945  1.552053
1     -1.706091 -1.197376  1.082808   0.669579 -0.696046
2     -1.688771 -1.516155  1.528463   1.783549 -0.907406
3     -1.671450  0.052050  1.217855   1.286405  0.860330
4     -1.654129  0.394182 -0.841614   1.281802 -0.215683
..          ...       ...       ...        ...       ...
195    1.654129 -1.270941 -1.321031  -0.771217 -1.234053
196    1.671450 -0.617035 -1.240003  -1.033598 -0.830548
197    1.688771  0.349810 -0.942899  -1.111852 -0.234898
198    1.706091  1.594565  1.265121   1.640850  2.205347
199    1.723412  0.993206 -0.990165  -1.005979 -0.119610

[200 rows x 5 columns]

# T- stats

In [ ]:
#n=999, p<0.05, 2-tail
#p/2=0.025
print(st.t.ppf(1-0.025, 999))

#n=999, p<0.05%, Single tail
print(st.t.ppf(1-0.05, 999)-st.t.ppf(1-0.025, 999))

1.9623414611334487
-0.3159611157059137

# One-Way Anova
Null Hypothesis: Means of the samples are following same distribution or not.

In [ ]:
a= df['TV']
b= df['radio']
c= df['newspaper']
F,p=st.f_oneway(a,b,c)

In [ ]:
F

358.8514595342597

In [ ]:
p

4.552931539744962e-103

# Additional

In [ ]:
df_melt = pd.melt(df.reset_index(), id_vars=['index'], value_vars=[ 'TV','radio', 'newspaper', 'sales'])
# replace column names
df_melt.columns = ['index', 'treatments', 'value']
# Ordinary Least Squares (OLS) model
model = ols('value ~ C(treatments)', data=df_melt).fit()
anova_table = sm.stats.anova_lm(model, typ=2)#Anova table for one or more fitted linear models.
anova_table

                     sum_sq     df           F         PR(>F)
C(treatments)  2.349842e+06    3.0  387.144309  5.150514e-155
Residual       1.610489e+06  796.0         NaN            NaN

# Two- Way ANOVA

“~” separates the left-hand side of the model from the right-hand side.
If treatments had been an integer variable that we wanted to treat explicitly as categorical, we could have done so by using the C() operator.

In [ ]:
# To read data as dataframe
data = pd.read_csv('https://raw.githubusercontent.com/philsaurabh/Tutorials/main/Credit.csv')
data.head()

   Unnamed: 0   Income  Limit  Rating  ...  Married  Ethnicity  Balance Defaultee
0           1   14.891   3606     283  ...      Yes  Caucasian      333         0
1           2  106.025   6645     483  ...      Yes      Asian      903         0
2           3  104.593   7075     514  ...       No      Asian      580         0
3           4  148.924   9504     681  ...       No      Asian      964         0
4           5   55.882   4897     357  ...      Yes  Caucasian      331         0

[5 rows x 13 columns]

A two-way ANOVA is used to determine whether or not there is a statistically significant difference between the means of three or more independent groups that have been split on two factors.

The purpose of a two-way ANOVA is to determine how two factors impact a response variable, and to determine whether or not there is an interaction between the two factors on the response variable.

In [86]:
!pip install bioinfokit

Collecting bioinfokit
  Downloading bioinfokit-2.0.6.tar.gz (84 kB)
     |████████████████████████████████| 84 kB 2.2 MB/s
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from bioinfokit) (1.1.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from bioinfokit) (1.19.5)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from bioinfokit) (3.2.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from bioinfokit) (1.4.1)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from bioinfokit) (0.22.2.post1)
Requirement already satisfied: seaborn in /usr/local/lib/python3.7/dist-packages (from bioinfokit) (0.11.2)
Requirement already satisfied: matplotlib-venn in /usr/local/lib/python3.7/dist-packages (from bioinfokit) (0.11.6)
Requirement already satisfied: tabulate in /usr/local/lib/python3.7/dist-packages (from bioinfokit) (0.8.9)
Requirement already satisfied: statsmodels in /usr/local/lib/python3.7/dist-packages (from bioinfokit) (0.10.2)
Collecting textwrap3
  Downloading textwrap3-0.9.2-py2.py3-none-any.whl (12 kB)
Collecting adjustText
  Downloading adjustText-0.7.3.tar.gz (7.5 kB)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->bioinfokit) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->bioinfokit) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->bioinfokit) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->bioinfokit) (1.3.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from cycler>=0.10->matplotlib->bioinfokit) (1.15.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->bioinfokit) (2018.9)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->bioinfokit) (1.0.1)
Requirement already satisfied: patsy>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from statsmodels->bioinfokit) (0.5.2)
Building wheels for collected packages: bioinfokit, adjustText
  Building wheel for bioinfokit (setup.py) ... done
  Created wheel for bioinfokit: filename=bioinfokit-2.0.6-py3-none-any.whl size=57066 sha256=85f6700c95b3dd25aa60ae968a16ed75038eb67b14f26517af68b69701393ad8
  Stored in directory: /root/.cache/pip/wheels/38/b2/a0/3f65c463d3faababa8cb5f3076e3bfc1c49fea2a736a49038a
  Building wheel for adjustText (setup.py) ... done
  Created wheel for adjustText: filename=adjustText-0.7.3-py3-none-any.whl size=7094 sha256=8b4af7d1b08bd567e7613a807121e8f6d191c0902592444ad190e5cc5f580207
  Stored in directory: /root/.cache/pip/wheels/2f/98/32/afbf902d8f040fadfdf0a44357e4ab750afe165d873bf5893d
Successfully built bioinfokit adjustText
Installing collected packages: textwrap3, adjustText, bioinfokit
Successfully installed adjustText-0.7.3 bioinfokit-2.0.6 textwrap3-0.9.2

In [91]:
from bioinfokit.analys import stat
res = stat()
res.anova_stat(df=data, res_var='Defaultee', anova_model='Defaultee ~ C(Gender) + C(Ethnicity) + C(Gender):C(Ethnicity)')
res.anova_summary

                           df     sum_sq   mean_sq         F    PR(>F)
C(Gender)                 1.0   0.000762  0.000762  0.005089  0.943165
C(Ethnicity)              2.0   0.007807  0.003903  0.026083  0.974256
C(Gender):C(Ethnicity)    2.0   0.069887  0.034944  0.233504  0.791864
Residual                394.0  58.961630  0.149649       NaN       NaN

In [92]:
model = ols('Defaultee ~ C(Gender) + C(Ethnicity) + C(Gender):C(Ethnicity)', data=data).fit()
sm.stats.anova_lm(model, typ=1)

                           df     sum_sq   mean_sq         F    PR(>F)
C(Gender)                 1.0   0.000677  0.000677  0.004523  0.946415
C(Ethnicity)              2.0   0.007807  0.003903  0.026083  0.974256
C(Gender):C(Ethnicity)    2.0   0.069887  0.034944  0.233504  0.791864
Residual                394.0  58.961630  0.149649       NaN       NaN

# T Test (Two sided dependent)

In [ ]:
# To read data as dataframe
data = pd.read_csv('https://raw.githubusercontent.com/philsaurabh/Tutorials/main/Credit.csv')
data.head()

   Unnamed: 0   Income  Limit  Rating  ...  Married  Ethnicity  Balance Defaultee
0           1   14.891   3606     283  ...      Yes  Caucasian      333         0
1           2  106.025   6645     483  ...      Yes      Asian      903         0
2           3  104.593   7075     514  ...       No      Asian      580         0
3           4  148.924   9504     681  ...       No      Asian      964         0
4           5   55.882   4897     357  ...      Yes  Caucasian      331         0

[5 rows x 13 columns]

In [ ]:
from scipy.stats import ttest_ind

male = data[data['Gender']=='Male']
female = data[data['Gender']=='Female']

ttest_ind(male['Defaultee'], female['Defaultee'])

Ttest_indResult(statistic=0.06754766913026408, pvalue=0.9461796342145767)

In [ ]:
# Another Example
# n = 9, degree of freedom = 9-1 = 8
# for 99% confidence interval, alpha = 1% = 0.01 and alpha/2 = 0.005
ci = 99
n = 9
t = st.t.ppf(1- ((100-ci)/2/100), n-1) # 99% CI, t8,0.005
print(t)

3.3553873313333957

# Chi-Square

In [ ]:
from scipy.stats import chi2_contingency

we want to test if there is a statistically significant difference in Genders (M, F) population between Married and Not Married.

In [ ]:
contigency= pd.crosstab(data['Gender'], data['Married'])
contigency

Married  No  Yes
Gender
Female   79  128
Male     76  117

chi2: The test statistic

p: The p-value of the test

dof: Degrees of freedom

expected: The expected frequencies, based on the marginal sums of the table

In [ ]:
# Chi-square test of independence.
c, p, dof, expected = chi2_contingency(contigency)
c

0.02141530550698175

In [ ]:
p,dof

(0.8836532332904176, 1)

In [ ]:
expected

array([[ 80.2125, 126.7875],
       [ 74.7875, 118.2125]])